<div class="login-container">
  <h2>Welcome Back</h2>

  <form (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email"  style="color:black" name="email" required type="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password"  style="color:black" name="password" required [type]="hidePassword ? 'password' : 'text'" />
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="primary" class="login-btn" type="submit">
      Login
    </button>

    <button mat-stroked-button color="accent" class="google-btn" type="button" (click)="loginWithGoogle()">
      <mat-icon>google</mat-icon> Login with Google
    </button>
  </form>


 <div class="links">
  <a (click)="goToSignup()">Sign Up</a>
  <span>|</span>
  <a (click)="goToForgotPassword()">Forgot Password?</a>
</div>
