.legacy-sidenav 
      padding: 20px
      
      .legacy-header 
        display: flex
        align-items: center
        margin-bottom: 20px
        
        mat-icon 
          margin-right: 10px
        
      
        h3 
          margin: 0