<div class="forget-container">
  <h2>Reset Password</h2>

  <form (ngSubmit)="sendReset()" class="forget-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        [(ngModel)]="email"
        name="email"
        type="email"
        required
        style="color:black"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" class="reset-btn" type="submit">
      Send Reset Link
    </button>
  </form>

  <div class="links">
    <a (click)="goToLogin()">Back to Login</a>
  </div>
</div>
